.container {
  background: #002B55;
  display: inline-block;
  width: 100%;
}

.nav {
  justify-content: center;
  margin-top: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem 1rem 2rem;
  margin: 1rem 0;
  fill: white;
  width: 112px !important;
}